body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Hidden class to be used by anything that requires hiding */
.hidden {
  display: none;
}

/* Styling for the main book object before and during search */
.book-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.book-cover {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.book-details {
  flex: 1;
}

.book-title {
  margin: 0;
  font-size: 24px;
}

.book-author {
  margin: 5px 0;
  font-style: italic;
}

.book-status {
  margin: 5px 0;
}

.book-pages {
  margin: 5px 0;
}

.isbn-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* MY BOOKS container */
.my-books-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.my-books-header {
  display: flex;
  padding-left: 20px;
}

.my-books-row {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 20px;
}

.my-book-item {
  flex: 0 0 auto;
  position: relative;
  width: 150px;
  height: 250px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.my-book-cover {
  width: 150px;
  height: auto;
  transition: opacity 0.5s, filter 0, 5s;
  will-change: opacity, filter;
}

.my-book-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(95, 95, 95, 0.027);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  will-change: opacity;
}
.my-book-info > * {
  margin: 10px 20px;
}

.my-book-title,
.my-book-author {
  margin: 5px 0;
  overflow: hidden;
  white-space: normal;
}

.my-book-description {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-style: italic;
  line-height: 1.1;
}

.my-book-item:hover .my-book-cover {
  opacity: 0.3;
  filter: blur(5px);
}
.my-book-item:hover .my-book-info {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-section {
  background-color: #5f6c24;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #d8c5c583;
  padding: 20px;
  margin: 5% auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-book-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
}

.title-author-box,
.description-box,
.extra-info-box {
  max-width: calc(100% - 20px);
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;

  background-color: #f4f4f4;
}

.title-author-box {
  height: 30%;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  background-color: #f4f4f4;
}

.description-box {
  flex-grow: 1;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

.extra-info-box {
  height: 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
  padding: 10px;
  background-color: #f4f4f4;
}

.close-button {
  position: absolute;
  color: #aaa;
  top: 1px;
  right: 1px;
  font-size: 2px; /* button basically not clickable anymore. Bad practice I think, but I want it gone, and can't figure it out rn */
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Styling for input field */
#isbnInput {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button stylings */
#submitBtn {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submitBtn:hover {
  background-color: #45a049;
}

#addBookBtn {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#addBookBtn:hover {
  background-color: #45a049;
}

#clearLocalStorageBtn {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 5px 10px;
  background-color: #07070700;
  cursor: pointer;
}
#clearLocalStorageBtn:hover {
  background-color: #00000070;
}

#modalBookCover {
  max-width: 30%;
  max-height: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
  margin-right: 20px;
}

#modalBookTitle,
#modalBookAuthor,
#modalBookDescription,
#modalBookPageCount,
#modalBookReleaseDate {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding: 0 10px;
}

#modalBookTitle {
  margin: 0;
  margin-bottom: 0px;
}

#modalBookAuthor,
#modalBookPageCount,
#modalBookReleaseDate {
  margin: 0;
}
#modalBookAuthor {
  font-style: italic;
}

#modalBookDescription {
  white-space: normal;
}

#modalBookISBN {
  font-style: italic;
}
