body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Hidden class to be used by anything that requires hiding */
.hidden {
  display: none;
}

/* Styling for the main book object before and during search */
.book-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.book-cover {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.book-details {
  flex: 1;
}

.book-title {
  margin: 0;
  font-size: 24px;
}

.book-author {
  margin: 5px 0;
  font-style: italic;
}

.book-status {
  margin: 5px 0;
}

.book-pages {
  margin: 5px 0;
}

.isbn-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Styling for input field */
#isbnInput {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button stylings */
#submitBtn {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submitBtn:hover {
  background-color: #0056b3;
}

#addBookBtn {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#addBookBtn:hover {
  background-color: #45a049;
}
