body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Hidden class to be used by anything that requires hiding */
.hidden {
  display: none;
}

/* Styling for the main book object before and during search */
.book-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.book-cover {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.book-details {
  flex: 1;
}

.book-title {
  margin: 0;
  font-size: 24px;
}

.book-author {
  margin: 5px 0;
  font-style: italic;
}

.book-status {
  margin: 5px 0;
}

.book-pages {
  margin: 5px 0;
}

.isbn-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* MY BOOKS container */
.my-books-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.my-books-header {
  display: flex;
  padding-left: 20px;
}

.my-books-row {
  display: flex;
  overflow-x: auto; /* Allows horizontal scrolling if there are many books */
  padding: 10px;
  gap: 20px; /* Spacing between book items */
}

.my-book-item {
  position: relative;
  max-width: 150px;
  max-height: 250px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.my-book-cover {
  width: 150px;
  height: auto;
  transition: opacity 0.5s, filter 0, 5s;
  will-change: opacity, filter;
}

.my-book-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(95, 95, 95, 0.027);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  will-change: opacity;
}
.my-book-info > * {
  margin: 10px 20px;
}

.my-book-title,
.my-book-author {
  margin: 10px 0; /* Adds some space above and below each piece of text */
}

.my-book-description {
  font-style: italic;
}

.my-book-item:hover .my-book-cover {
  opacity: 0.3;
  filter: blur(5px);
}
.my-book-item:hover .my-book-info {
  opacity: 1;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Styling for input field */
#isbnInput {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button stylings */
#submitBtn {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submitBtn:hover {
  background-color: #4caf50;
}

#addBookBtn {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#addBookBtn:hover {
  background-color: #45a049;
}
